*{
    margin: 0%;
    padding: 0%;
}

.main-nav{
    background: #fff;
}

#mynav{
    background: #fff;
}

.main-nav ul li:first-child{
    background: linear-gradient(to right,#1c60b8 1%,#3c99dd 100%);
    border-radius: 4px;
    padding: 0 12px;
}

.navbar-light .navbar-nav .nav-link {
    color: #202020;
}

.logo-img{
    height: 45px;
    width: 180px;
}

.cont{
    background: -webkit-linear-gradient(left,#1c60b8 1%,#3c99dd 100%);
}

.cont h3{
    font-size: 15px;
    color: #fff;
    /* font-weight: 400; */
    /* margin: 0 40px 0 40px; */
}

.cont h5{
    color: #fff;
    font-size: 17px;
    /* margin: 0 40px 0 40px; */
}

/* .slick-dots li{
    margin: 4px;
    color: #505050;
}

.slick-dots{
    display: flex;
    justify-content: center;
    margin: 0;
    list-style-type: none;
    color: #505050;

}

button {
    display: block;
    width: 9px;
    height: 9px;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: #CDCED5 ;
    text-indent: -9999px;
    outline: none;
}

.btn-toggler{
    text-indent:0px !important;
}

li.slick-active button {
    background-color: #505050;
    opacity: .8;
} */


.cont-info h3{
    color: #505050;
    font-size: 32px;
    /* margin: 0 0 0 115px; */
}

.cont-info a{
    text-decoration: none;
    color: #fff;
    background-color: #cdced5;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    /* margin: 0 110px 0 0; */
}

/* .container-1{
    display: flex;
    margin: 20px 85px 0 95px;
    flex-wrap: wrap;
    justify-content: space-around;
} */

.box-cont{
    padding: 0;
}

.box{
    height: 77px;
    width: 97%;
    border-radius: 10px;
    margin-bottom: 26px;
}

.box1{
    background: -webkit-linear-gradient(left, #181818 1%, #C8C8C8 100%)
}

.box2{
    background:-webkit-linear-gradient(left, #B8A028 1%, #B8A030 100%)
}

.box3{
    background:-webkit-linear-gradient(left, #F8A850 1%, #4080A8 100%)
}

.box4{
    background:-webkit-linear-gradient(left, #F89828 1%, #F09018 100%)
}

.box5{
    background:-webkit-linear-gradient(left, #A83088 1%, #D0A8D0 100%)
}

.box6{
    background:-webkit-linear-gradient(left, #40B8E0 1%, #60B8D8 100%)
}

.box7{
    background:linear-gradient(to top left,#B4EC51, #429321);
}

.box-img{
    height: 35px;
    width: 35px;
    /* margin: -30px 0 0 142px; */
    margin: -15%  0 0 76%;
}

.container-1 h6{
    font-size: 11px;
    padding: 5px 0 0 8px;
    color: rgba(255,255,255,0.70);
    letter-spacing: -0.17px;
}

.container-1 a{
    text-decoration: none;
}

.container-1 h5{
    font-size: 20px;
    letter-spacing: -0.22px;
    width: 77px;
    height: 21px;
    text-align: left;
    color: #FFFFFF;
    padding: 3px 0 0 6px;
}

.box-arrow-img{
    height: 10px;
    width: 10px;
    margin: 7px 0 0 8px;
}


.section h3{
    font-size: 32px;
    font-size: 32px;
    color: #505050;
    height: 41px;
    width: 240px;
}

.section a{
    text-decoration: none;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: -0.18px;
    line-height: 22px;
}

.input input{
    width: 162px;
    height: 33px;
    background-color: #CDCED5;
    border-radius: 9px;
    outline: none;
    border: 0;
}

::placeholder{
    color: #FFFFFF;
    padding-left: 5px;
}

.usd{
    background-color: #CDCED5;
    border-radius: 10px;
    padding: 6px 7px 6px 7px;
}

.table-th{
    text-transform: uppercase;
    color: #337ab7;
    letter-spacing: -0.27px;
    font-size: 11px;
    font-weight: 500;
}

.ripple-img{
    height: 20px;
    width: 20px;
    margin: -2px 0 0 4px;
}

.table-th img{
    height: 11px;
    width: 11px;
    margin: -2px 0 0 4px;
}

.graph{
    height: 50px;
    width: 80px;
}

.arrow{
    width: 15px;
    height: 10px;
    padding-right: 4px;
}

.name{
    font-size: 14px;
    color: #3D3D3D;
    font-weight: 500;
    opacity: .6;
}

.star1, .star2, .star3, .star4, .star5{
    display: none;
    height: 35px;
    width: 35px;
    background-color: #CDCED5;
    border-radius: 100%;
    padding: 7px;
    margin-left: 5px;
    opacity: .7;
}

.camera1, .camera2, .camera3, .camera4, .camera5{
    display: none;
    height: 35px;
    width: 35px;
    background-color: #CDCED5;
    border-radius: 100%;
    padding: 7px;
    margin-left: 5px;
    opacity: .7;
}

.angle-up-arrow{
    cursor: pointer;
}

.angle-down-arrow{
    display: none;
    cursor: pointer;
}

/* .table-row:hover:last-child{
    display: none;
} */

.previous{
    color: hsl(225, 4%, 41%);
    border: 2px solid #c2c4cc;
    padding: 4px 12px;
    border-radius: 8px;
    margin: 0 4px 0 0;
}

.previous img{
    height: 10px;
    width: 10px;
}

.next{
    color: #65676d;
    border: 2px solid #c2c4cc;
    padding: 4px 12px;
    border-radius: 8px;
    margin: 0 0 0 4px;
}

.next img{
    height: 10px;
    width: 10px;
}

.blog-post{
    width: 33.3%;
    height: auto;
    border: 2px solid #CDCED5;
    border-radius: 15px;
    margin: 35px 30px 40px 30px;
}

.blog-post h4{
   font-size: 22px;
   color: #003BB2;
   margin: 10px 0 0 7px;
}

.blog-post img{
    height: 215px;
    width: 100%;
    border-radius: 10px;
}

.blog-post p{
    font-size: 16px;
    color: #3D3D3D;
    margin: 10px 0 0 7px;
    padding: 10px 0;
}

.footer-cont{
    background: #e7ebed;
    margin: 30px 0 0 0;
}

/* .uf{
    padding: 45px 30px 0 50px;
} */

.one, .two, .three{
    height: 300px;
}

.one img{
   height: 37px;
   width: 180px;
   margin: -11px 0 10px 0;
}

.uf a{
    text-decoration: none;
}

.uf h4{
    color: #245da6;
    font-size: 15px;
    margin: 0 0 26px 0;
}    

.uf h5{
    /* padding: 10px 0; */
    color: #3d3d3d;
    font-size: 14px;
    line-height: 30px;
}

/* .four{
    margin: 0 0 35px 0;
} */

.five h5{
   font-size: 12px;
   display: inline;
   line-height: 0;
}

.five p{
    font-size: 11px;
 }

 .five img{
    width: 60px;
    height: 40px;
 }

 .five-link{
     padding: 3px 0;
 }

 /* .mail{
    margin: -145px 0 30px 48px;
 } */

.mail input{
    background-color: #bfc6cb;
    width: 50%;
    color: #fff;
    height: 36px;
    padding: 0 12px;
    /* margin: 0 0 0 38px; */
    font-size: 15px;
    font-weight: 400;
    box-shadow: none;
    border: 0;
    border-radius: 8px;
    outline: none;
}

::placeholder{
    font-size: 15px;
}

.newsletter{
    color: #245da6;
    margin-bottom: 26px;
    text-decoration: none;
}

.newsletter h5{
    font-size: 16px;
    margin: 0 0 10px 0;
}

.submit{
    background: #245DA6;
    border-radius: 8px;
    padding: 6px 15px 7px 15px;
}

.arrow-img{
    width: 15px;
    height: 16px;
}

/* .download-app{
    margin: -140px 0 0px 132px;
} */

.download-app h5{
    color: #245da6;
    margin: 0 0 10px 0;
    font-size: 16px;
    text-decoration: none;
}

.download-app img{
    width: 40%;
    height: 25%;
}

.lower-footer{
    background-color: #bfc6cb;
    height: auto;
}

.lower-footer p{
    color: #3d3d3d;
    font-size: 16px;
    /* margin: 0 45px; */
}

.red-heart-img{
    height: 20px;
    width: 18px;
}

.icons{
    height: 35px;
    width: 35px;
    padding: 7px;
    border-radius: 100%;
}

.icon-one{
    background: linear-gradient(to right, #1c60b8 1%,#3c99dd 100%);
}

.icon-two{
    background: linear-gradient(to right, #d14639 1%,#c64a3f 100%);
}

.icon-three{
    background: linear-gradient(to right, #1da1f2 1%, #1da1f2 100%);
}

.icon-four{
    background: linear-gradient(to right, #a739a6 1%,#fca644 100%);
}

.icon-five{
    background: linear-gradient(to right, #2aabde 1%,#3db8e5 100%);
}

.icon-six{
    background: linear-gradient(to right, #ff0000 1%, #ff0000 100%);
}

.icon-container{
    position: fixed;
    left: 94%;
    top: 84%;
    background-color: #1c60b8;
    /* border: 1px solid #fff; */
    border-radius: 100%;
}

.arrow-icon{
    height: 42px;
    width: 42px;
    padding: 14px;
}
