*{
    margin: 0%;
    padding: 0%;
}

.main-nav{
    background: #fff;
    height: 120px;
}

#mynav{
    float: left;
    background: #fff;
}

.main-nav ul li:first-child{
    background: linear-gradient(to right,#1c60b8 1%,#3c99dd 100%);
    border-radius: 4px;
    padding: 0 12px;
}

.navbar-light .navbar-nav .nav-link {
    color: #202020;
}

.logo-img{
    height: 45px;
    width: 180px;
}

.cont{
    background: -webkit-linear-gradient(left,#1c60b8 1%,#3c99dd 100%);
    float: left;
}

.cont h3{
    font-size: 15px;
    color: #fff;
    /* font-weight: 400; */
    margin: 0 60px 0 60px;
}

.cont h5{
    color: #fff;
    font-size: 17px;
    margin: 0 60px 0 60px;
}

.slick-dots li{
    margin: 4px;
}

.slick-dots{
    display: flex;
    justify-content: center;
    margin: 0;
    list-style-type: none;
}

button {
    display: block;
    width: 9px;
    height: 9px;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: #CDCED5 ;
    text-indent: -9999px;
    outline: none;
}

li.slick-active button {
    background-color: #505050;
    opacity: .8;
}


.cont-info h3{
    color: #505050;
    font-size: 32px;
    /* margin: 0 0 0 115px; */
}

.cont-info a{
    text-decoration: none;
    color: #fff;
    background-color: #cdced5;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    /* margin: 0 110px 0 0; */
}

/* .container-1{
    display: flex;
    margin: 20px 85px 0 95px;
    flex-wrap: wrap;
    justify-content: space-around;
} */

.box-cont{
    padding: 0;
}

.box{
    height: 77px;
    width: 185px;
    border-radius: 10px;
    margin-bottom: 26px;
}

.box1{
    background: -webkit-linear-gradient(left, #181818 1%, #C8C8C8 100%)
}

.box2{
    background:-webkit-linear-gradient(left, #B8A028 1%, #B8A030 100%)
}

.box3{
    background:-webkit-linear-gradient(left, #F8A850 1%, #4080A8 100%)
}

.box4{
    background:-webkit-linear-gradient(left, #F89828 1%, #F09018 100%)
}

.box5{
    background:-webkit-linear-gradient(left, #A83088 1%, #D0A8D0 100%)
}

.box6{
    background:-webkit-linear-gradient(left, #40B8E0 1%, #60B8D8 100%)
}

.box7{
    background:linear-gradient(to top left,#B4EC51, #429321);
}

.container-1 h6{
    font-size: 11px;
    padding: 5px 0 0 8px;
    color: rgba(255,255,255,0.70);
    letter-spacing: -0.17px;
}

.container-1 a{
    text-decoration: none;
}

.container-1 h5{
    font-size: 20px;
    letter-spacing: -0.22px;
    width: 77px;
    height: 21px;
    text-align: left;
    color: #FFFFFF;
    padding: 3px 0 0 6px;
}

.container-1 img{
    height: 10px;
    width: 10px;
    margin: 7px 0 0 8px;
}


.section h3{
    font-size: 32px;
    font-size: 32px;
    color: #505050;
    height: 41px;
    width: 240px;
}

.section a{
    text-decoration: none;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: -0.18px;
    line-height: 22px;
}

.input input{
    width: 162px;
    height: 33px;
    background-color: #CDCED5;
    border-radius: 9px;
    outline: none;
    border: 0;
}

::placeholder{
    color: #FFFFFF;
    padding-left: 5px;
}

.usd{
    background-color: #CDCED5;
    border-radius: 10px;
    padding: 6px 7px 6px 7px;
}

.table-th{
    text-transform: uppercase;
    color: #245DA6;
    letter-spacing: -0.27px;
    font-size: 11px;
}